<div class="py-10">
  <form [formGroup]="formList" (ngSubmit)="send()">
    <div class="flex pb-10 overflow-x-scroll" #scrollable>
      <div *ngFor="let question of questionsList; let i = index">
        <div [ngClass]="{ 'blur-sm scale-75': activeQuestionIndex !== i }">
          <div
            [ngClass]="{ 'ml-28': i === 0, 'mr-28': i === questionsList.length - 1}"
            class="w-[34em] h-[44em] border-2 border-[#20063B] hover:border-[#2E0A51] bg-[#F3F6FD] rounded-3xl flex flex-col items-center justify-between md:flex-col"
          >
            <label
              class="p-5 text-3xl font-black tracking-wide text-black"
              [for]="question.id"
            >
              {{ question.question_str }}*
            </label>
            <textarea
              class="mb-5 text-black bg-gray-200 border-2 rounded h-[15em] text-2xl font-bold ml-1 w-[21em] p-2"
              [class.border-gray-200]="formList.get(question.id)?.untouched"
              [class.border-rose-500]="
                formList.get(question.id)?.touched && formList.get(question.id)?.invalid
              "
              [class.border-green-500]="
                formList.get(question.id)?.touched && formList.get(question.id)?.valid
              "
              required
              [id]="question.id"
              [name]="question.id"
              [formControlName]="question.id"
              type="text"
              placeholder="Wpisz odpowiedź"
            ></textarea>
            <ng-container
              *ngIf="
                formList.get(question.id)?.touched && formList.get(question.id)?.invalid
              "
            >
              <p
                *ngIf="formList.get(question.id)?.hasError('required')"
                class="text-sm italic text-red-600"
              >
                To pole jest wymagane
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-center mt-2 -mx-3 md:flex">
      <div class="px-3">
        <button
          class="py-5 px-32 my-10 text-2xl font-bold rounded-xl bg-[#20063B] hover:bg-black text-zinc-50"
          type="submit"
          [disabled]="formList.invalid"
        >
          Wyślij
        </button>
      </div>
    </div>
  </form>
</div>
