<footer class="py-8 bg-gray-100 footer-1 sm:py-12">
  <div class="container max-w-6xl px-4 mx-auto">
    <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
      <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
        <h5 class="mb-6 text-xl font-bold">Menu</h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a [routerLink]="['/']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Strona główna
            </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/', 'mam-plan']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Mam plan
            </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/', 'zaskocz-mnie']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Szukam swojej ścieżki
            </a>
          </li>
        </ul>
      </div>
      <div class="px-4 mt-8 sm:w-1/2 md:w-1/4 xl:w-1/6 sm:mt-0">
        <h5 class="mb-6 text-xl font-bold">Zasoby</h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a [routerLink]="['/', 'deklaracja-dostepnosci']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Deklaracja dostępności
            </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/', 'polityka-prywatnosci']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Polityka prywatności i polityka cookies
            </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/', 'warunki-korzystania']" class="border-b border-transparent border-solid hover:border-purple-800 hover:text-purple-800">
              Warunki korzystania
            </a>
          </li>
        </ul>
      </div>
      <div class="px-4 mt-4 sm:w-1/3 xl:w-1/6 sm:mx-auto xl:mt-0 xl:ml-auto">
        <h5 class="mb-6 text-xl font-bold w-60 sm:text-center xl:text-left">Media społecznościowe</h5>
        <div class="flex sm:justify-center xl:justify-start">
          <a href="" class="w-8 h-8 py-1 text-center text-gray-600 border border-2 border-gray-400 rounded-full hover:text-white hover:bg-blue-600 hover:border-blue-600">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
          </a>
          <a href="" class="w-8 h-8 py-1 ml-2 text-center text-gray-600 border border-2 border-gray-400 rounded-full hover:text-white hover:bg-blue-400 hover:border-blue-400">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
          </a>
          <a href="" class="w-8 h-8 py-1 ml-2 text-center text-gray-600 border border-2 border-gray-400 rounded-full hover:text-white hover:bg-red-600 hover:border-red-600">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
          </a>
          <a href="" class="w-8 h-8 py-1 ml-2 text-center text-gray-600 border border-2 border-gray-400 rounded-full hover:text-white hover:bg-red-600 hover:border-red-600">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="pt-6 mt-6 border-t sm:flex sm:flex-wrap sm:-mx-4 sm:mt-12 sm:pt-12">
      <div class="px-4 sm:w-full md:w-1/6">
        <strong>FWR</strong>
      </div>
      <div class="px-4 mt-4 sm:w-1/2 md:w-1/4 md:mt-0">
        <h6 class="mb-2 font-bold">Adres</h6>
        <address class="mb-4 text-sm not-italic">
          ul. Górczewska 8 <br>
          01-180 Warszawa <br>
          NIP: 525 000 86 95 <br>
          REGON: 000178235<br>
        </address>
      </div>
      <div class="px-4 mt-4 sm:w-1/2 md:w-1/4 md:mt-0">
        <h6 class="mb-2 font-bold">Pomoc</h6>
        <div>
          22 120 24 30<br>
          pomoc.edukacja.gov@ibe.edu.pl<br>
          Pracujemy w dni robocze od 8:00 do 16:00
        </div>
      </div>
    </div>
  </div>
</footer>
