<app-header></app-header>
<main class="bg-[#461EA4]">
  <app-title [title]="'Mam na siebie plan'"></app-title>
  <section
    class="flex items-center justify-between gap-6 mx-3 max-w-7xl md:mx-auto"
  >
    <ng-template #form>
      <form [formGroup]="formGroup">
        <div class="flex">
        <label for="hobbies">Zainteresowania:</label>
        <tagify formControlName="hobbies" id="hobbies" inputClass="form-control"
                [settings]="settings"
                [whitelist]="whitelist$"
                [readonly]="readonly"
                (add)="onAdd($event)"
                (tInput)="getInput($event)"
                (remove)="onRemove($event)"></tagify>
        </div>
      </form>
    </ng-template>
    <ng-template #results>
      <div class="w-full max-w-5xl md:mx-auto">
        <app-result [positionsList]="positionsList"></app-result>
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="!hasResults ? form : results"></ng-container>
  </section>
</main>
<app-footer></app-footer>
