<app-header></app-header>
<main class="bg-[#461EA4]">
  <app-title [title]="'Mam na siebie plan'"></app-title>
  <section
    class="flex items-center justify-between gap-6 mx-3 max-w-7xl md:mx-auto"
  >
    <ng-template #form>
      <button
        (click)="prevQuestion()"
        class="relative -top-20 flex items-center justify-center w-16 h-16 rounded-full bg-[#20063B] hover:bg-black text-zinc-50 font-extrabold text-3xl"
      >
        <
      </button>
      <div class="w-[800px]">
        <app-form
          [activeQuestionIndex]="activeQuestionIndex()"
          [formList]="formQuestions" [questionsList]="questionsList" (sendRequestEmitter)="getData($event)"
        ></app-form>
      </div>
      <button
        (click)="nextQuestion()"
        class="relative -top-20 flex items-center justify-center w-16 h-16 rounded-full bg-[#20063B] hover:bg-black text-zinc-50 font-extrabold text-3xl"
      >
        >
      </button>
    </ng-template>
    <ng-template #results>
      <div class="w-full max-w-5xl md:mx-auto">
        <app-result [positionsList]="positionsList"></app-result>
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="!hasResults ? form : results"></ng-container>
  </section>
</main>
<app-footer></app-footer>
