<app-header></app-header>

<main class="bg-[#461EA4]">
  <h1
    class="max-w-5xl mx-3 md:mx-auto text-4xl pt-10 font-black text-[#F3F6FD]"
  >
    Mam plan
  </h1>

  <section
    class="flex items-center justify-between gap-6 mx-3 max-w-7xl md:mx-auto"
  >
    <button
      *ngIf="!hasResults"
      (click)="prevQuestion()"
      class="relative -top-20 flex items-center justify-center w-16 h-16 rounded-full bg-[#20063B] hover:bg-black text-zinc-50 font-extrabold text-3xl"
    >
      <
    </button>
    <div class="w-[800px]">
      <app-form
        [activeQuestionIndex]="activeQuestionIndex()"
        *ngIf="!hasResults"
        [formList]="formQuestions" [questionsList]="questionsList" (sendRequestEmitter)="getData($event)"
      ></app-form>
      <app-result *ngIf="hasResults" [positionsList]="positionsList"></app-result>
    </div>
    <button
      *ngIf="!hasResults"
      (click)="nextQuestion()"
      class="relative -top-20 flex items-center justify-center w-16 h-16 rounded-full bg-[#20063B] hover:bg-black text-zinc-50 font-extrabold text-3xl"
    >
      >
    </button>
  </section>
</main>
<app-footer></app-footer>
