<main class="flex flex-col">
  <section class="flex items-center h-20 gap-5 px-6">
    <div class="w-10 h-10">
      <img src="assets/eagle.svg" alt="" class="object-cover" />
    </div>
    <a
      href="https://edukacja.gov.pl/"
      class="text-3xl font-extrabold text-zinc-900"
      >edukacja.gov.pl</a
    >
    <div class="w-1 bg-zinc-900 h-3/5"></div>
    <p>Portal edukacji i nauki</p>
  </section>
  <section class="relative h-[calc(100vh-5rem)]">
    <img
      src="assets/fold.webp"
      alt=""
      class="h-full absolute object-cover -z-[1]"
    />
    <div class="absolute h-full">
      <div class="flex items-center justify-center h-full">
        <div class="flex flex-col justify-center gap-6 ml-6">
          <h1 class="font-bold text-zinc-900 text-9xl">Galileo AI</h1>
          <p class="ml-2 text-3xl font-normal text-zinc-700">
            Znajdź z nami swoją drogę...
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="h-screen">
    <div class="flex items-center justify-center h-full">
      <div class="flex items-center justify-center gap-6">
        <button
          class="px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-700"
        >
          Mam na siebie pomysł
        </button>
        <button
          class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"
        >
          Pomóz mi znaleźć moją drogę
        </button>
      </div>
    </div>
  </section>
  <section class="flex items-center justify-center h-10 bg-violet-950">
    <p class="font-bold text-zinc-100">Galileo AI &copy; 2023</p>
  </section>
</main>
