<main class="flex flex-col">
  <section class="flex items-center h-20 gap-5 px-6">
    <div class="w-10 h-10">
      <img src="assets/eagle.svg" alt="" class="object-cover" />
    </div>
    <a
      href="https://edukacja.gov.pl/"
      class="text-3xl font-extrabold text-zinc-900"
      >edukacja.gov.pl</a
    >
    <div class="w-1 bg-zinc-900 h-3/5"></div>
    <p>Portal edukacji i nauki</p>
  </section>
  <section class="relative h-[calc(100vh-5rem)]">
    <img
      src="assets/fold.webp"
      alt=""
      class="h-full absolute object-cover -z-[1]"
    />
    <div class="absolute h-full">
      <div class="flex items-center justify-center h-full">
        <div class="flex flex-col justify-center gap-6 ml-6">
          <h1 class="font-bold text-zinc-900 text-9xl">Galileo AI</h1>
          <p class="ml-2 text-3xl font-normal text-zinc-700">
            Znajdź z nami swoją drogę...
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#F3F6FD] flex flex-col justify-center">
    <h2 class="my-24 text-5xl font-black text-center text-zinc-900">
      Jak mozemy Ci pomóc?
    </h2>
    <div class="flex items-center gap-6 mx-auto mb-24">
      <div *ngFor="let tile of tiles">
        <div class="flex justify-center">
          <div
            class="w-[30em] h-[44em] bg-[#20063B] hover:bg-[#2E0A51] rounded-3xl flex flex-col items-center justify-between"
          >
            <h3 class="my-8 text-4xl font-black text-zinc-100">
              {{ tile.title }}
            </h3>
            <button
              class="w-4/6 py-3 my-8 text-2xl font-bold rounded-xl bg-zinc-200 text-zinc-900 hover:bg-zinc-50"
            >
              Rozpocznij
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex items-center justify-center h-10 bg-[#20063B]">
    <p class="font-bold text-zinc-100">Galileo AI &copy; 2023</p>
  </section>
</main>
