<app-header></app-header>
<div class="py-6 md:py-12">
  <div class="container px-4 mx-auto">
    <p class="mb-4"><a [routerLink]="['/']" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">
      <fa-icon [icon]="['fad', 'arrow-left']"></fa-icon>
      Powrót do strony głównej
    </a></p>
    <div class="container mx-auto px-4">
      <h1 class="text-3xl md:text-4xl font-medium mb-2">Polityka prywatności i polityka cookies</h1>
      <section>
        <div>
          <p>
            Niniejsza Polityka prywatności i polityka cookies (dalej: Polityka) dotyczy przetwarzania danych osobowych użytkowników portalu edukacji i nauki Edukacja.gov.pl (dalej: Portal).
          </p>
        </div>
      </section>
      <section>
        <h2 class="text-2xl md:text-3xl font-medium mb-2">I. Administrator danych osobowych</h2>
        <p>
          Minister Edukacji i Nauki, ul. Wspólna 1/3, 00-529 Warszawa, e-mail: kancelaria@mein.gov.pl (dalej: Administrator).
          </p>
          <p>Wszystkie pytania oraz wnioski dotyczące woli skorzystania z przysługujących Państwu praw, a także pytania odnośnie do niniejszej Polityki prosimy kierować do naszego inspektora ochrony danych na adres e-mail inspektor@mein.gov.pl lub na powyżej wskazany adres Administratora.
          </p>
          <p>Minister Edukacji i Nauki powierzył prowadzenie Portalu Instytutowi Badań Edukacyjnych, ul. Górczewska 8, 01-180 Warszawa, który pełni funkcję administratora Portalu i zwany jest dalej Administratorem Portalu.
        </p>
      </section>
      <section>
        <h2 class="text-2xl md:text-3xl font-medium mb-2">II. Cele oraz podstawy prawne przetwarzania danych</h2>
        <p>Administrator przetwarza dane osobowe w zakresie niezbędnym do świadczenia oferowanych usług, a także gromadzi informacje o aktywności użytkowników na Portalu. Szczegółowe zasady oraz cele przetwarzania danych osobowych zbieranych podczas danego rodzaju interakcji z Portalem zostały opisane poniżej.</p>
        <h3 class="font-bold mb-2">1. Korzystanie z Portalu
          Z chwilą wejścia na naszą stronę internetową przeglądarka użytkownika automatycznie wysyła informacje na serwer naszej witryny, takie jak:</h3>
        <ul class="list-disc px-6">
          <li class="list-item">
            adres IP komputera wysyłającego żądanie;
          </li>
          <li class="list-item">
            data i godzina uzyskania dostępu;
          </li>
          <li class="list-item">
            strona internetowa, z której następuje dostęp (adres URL strony odsyłającej);
          </li>
          <li class="list-item">
            używana przeglądarka oraz, w razie potrzeby, system operacyjny komputera, a także nazwa dostawcy dostępu;
          </li>
          <li class="list-item">
            informacje o błędach, jakie nastąpiły przy przeglądaniu naszej strony.
          </li>
        </ul>
        <p class="font-bold mb-2">Dane te przetwarzane są przez Administratora Portalu w celach:</p>
        <ul class="list-disc px-6">
          <li class="list-item">
            świadczenia usług drogą elektroniczną w zakresie udostępniania treści zgromadzonych na stronie internetowej – podstawą przetwarzania jest art. 6 ust. 1 lit. b RODO: przetwarzanie jest niezbędne do wykonania umowy;
          </li>
          <li class="list-item">
            analitycznych i statystycznych – podstawą prawną przetwarzania jest art. 6 ust. 1 lit. f RODO, czyli uzasadniony interes Administratora: prowadzenie analiz aktywności użytkowników oraz ich preferencji w celu poprawy świadczonych usług;
          </li>
          <li class="list-item">
            ewentualnego ustalenia lub dochodzenia roszczeń lub obrony przed roszczeniami – podstawą prawną przetwarzania jest art. 6 ust. 1 lit. f RODO, czyli uzasadniony interes Administratora: ochrona praw Administratora.
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <p>Lorem ipsum</p>
</div>
<app-footer></app-footer>
