<app-header></app-header>
<div class="py-6 md:py-12">
  <div class="container px-4 mx-auto">
    <p class="mb-4"><a [routerLink]="['/']" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">
      <fa-icon [icon]="['fad', 'arrow-left']"></fa-icon>
      Powrót do strony głównej
    </a></p>
    <div class="mx-auto">
      <h1 class="text-3xl md:text-4xl font-medium mb-2">Deklaracja dotępności</h1>
    </div>
  </div>
</div>
<div class="container mx-auto px-4">
  <h2>Deklaracja dostępności serwisu Edukacja.gov.pl</h2>
  <p>Instytut Badań Edukacyjnych zobowiązuje się zapewnić dostępność strony internetowej www.edukacja.gov.pl zgodnie z ustawą z dnia 4 kwietnia 2019 r.
    o dostępności cyfrowej stron internetowych i aplikacji mobilnych podmiotów publicznych. Oświadczenie w sprawie dostępności ma zastosowanie
    do serwisu internetowego Edukacja.gov.pl.</p>
  <p>Data publikacji strony internetowej: 2019-08-05.</p>
  <p>Data ostatniej dużej aktualizacji: 2023-07-06.</p>
  <p>Strona internetowa jest zgodna z ustawą o dostępności cyfrowej stron internetowych i aplikacji mobilnych podmiotów publicznych.</p>
  <p>Oświadczenie sporządzono dnia: 2019-08-05. Deklarację poddano ostatni raz przeglądowi i aktualizacji dnia: 2023-07-06. Deklarację przygotowano na podstawie samooceny podmiotu publicznego.</p>
  <p>Na stronie internetowej można korzystać ze standardowych skrótów klawiaturowych.</p>
  <h3>Informacje zwrotne i dane kontaktowe</h3>
  <p>W przypadku problemów z dostępnością strony internetowej prosimy o kontakt. Osobą odpowiedzialną jest Mateusz Ciborowski, adres poczty elektronicznej: edukacja.gov@ibe.edu.pl. Tą samą drogą można składać wnioski o udostępnienie informacji niedostępnej oraz skargi na brak zapewnienia dostępności.</p>
  <p>Każdy ma prawo do wystąpienia z żądaniem zapewnienia dostępności cyfrowej strony internetowej, aplikacji mobilnej lub jakiegoś ich elementu. Można także zażądać udostępnienia informacji w formach alternatywnych, na przykład odczytania niedostępnego cyfrowo dokumentu, opisania zawartości filmu bez audiodeskrypcji itp. Żądanie powinno zawierać dane osoby zgłaszającej żądanie, wskazanie, o którą stronę internetową lub aplikację mobilną chodzi, oraz sposób kontaktu. Jeżeli osoba żądająca zgłasza potrzebę otrzymania informacji w formie alternatywnej, powinna także określić tę formę.</p>
  <p>Podmiot publiczny powinien zrealizować żądanie niezwłocznie i nie później niż w ciągu 7 dni. Jeżeli dotrzymanie tego terminu nie jest możliwe, podmiot publiczny niezwłocznie informuje o tym, kiedy realizacja żądania będzie możliwa, przy czym termin ten nie może być dłuższy niż 2 miesiące. Jeżeli zapewnienie dostępności nie jest możliwe, podmiot publiczny może zaproponować alternatywny sposób dostępu do informacji.</p>
  <p>W przypadku gdy podmiot odmówi realizacji żądania zapewnienia dostępności lub alternatywnego dostępu do informacji, można złożyć skargę na takie działanie.</p>
  <p>Po wyczerpaniu wszystkich możliwości skargę można przesłać także do Rzecznika Praw Obywatelskich.</p>

  <address><h3 class="font-bold">Dostępność architektoniczna</h3>
  Instytut Badań Edukacyjnych<br>
  ul. Górczewska 8<br>
    01-180 Warszawa</address>
  <h3>Parking</h3>
  <p>Możliwość skorzystania z bezpłatnego miejsca parkingowego wskazanego przez pracownika recepcji IBE.</p>
  <p>Przed bramą wjazdową od ul. Tyszkiewicza jest dostępne miejsce oznaczone kopertą. Miejsce poza terenem Instytutu należy do strefy płatnego parkowania.</p>
  <h3>Wejście do budynku</h3>
  <p>Wejście na teren IBE dostępne jest przez furtkę w ogrodzeniu od ul. Górczewskiej (należy skorzystać z domofonu). Przed drzwiami wejściowymi znajduje się jednostopniowe podwyższenie z pochylnią z lewej strony, a przy wejściu – poręcz. Niezbędne jest skorzystanie z domofonu.</p>
  <p>Instytut dysponuje platformą przyschodową kierującą od wejścia na poziom parteru, do holu głównego, gdzie zlokalizowana jest recepcja.</p>
  <p>W budynku znajduje się toaleta dostępna dla osób z niepełnosprawnością, zlokalizowana po prawej stronie od recepcji.</p>
  <p>Do Instytutu możesz przyjść z psem asystującym lub psem przewodnikiem.</p>
  <address>Instytut Badań Edukacyjnych<br>
  ul. Nowogrodzka 47A<br>
    00-695 Warszawa</address>
  <p>Goście instytutu mogą skorzystać z miejsc płatnego parkowania dostępnych na ul. Nowogrodzkiej.</p>
  <p>Do budynku prowadzą drzwi otwierane lub obrotowe.</p>
  <p>Aby wjechać wózkiem, należy poprosić ochronę/recepcję budynku o otworzenie obu skrzydeł drzwi.</p>
  <p>Na 6. piętro, gdzie mieści się Instytut, można wjechać windą.</p>
  <p>W budynku znajduje się częściowo dostępna toaleta.</p>
  <p>Do Instytutu możesz przyjść z psem asystującym lub psem przewodnikiem.</p>
  <p>Instytut Badań Edukacyjnych jest przyjazny osobom ze specjalnymi potrzebami. Wierzymy, że wszyscy mamy równe i pełne prawo do edukacji. W naszych działaniach urzeczywistniamy je każdego dnia.</p>
  <p>Jesteśmy dla Ciebie dostępni.</p>
</div>
<app-footer></app-footer>
