<div class="py-10">
  <form [formGroup]="formList" (ngSubmit)="send()">
    <div class="flex flex-col">
      <div class="md:flex mb-6" *ngFor="let question of questionsList">
        <div class="md:w-full px-3">
          <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" [for]="question.id">
            {{question.question_str}}*
          </label>
          <input class="w-full bg-gray-200 text-black border-2 rounded py-3 px-4 mb-3"
                 [class.border-gray-200]="formList.get(question.id)?.untouched"
                 [class.border-rose-500]="formList.get(question.id)?.touched && formList.get(question.id)?.invalid"
                 [class.border-green-500]="formList.get(question.id)?.touched && formList.get(question.id)?.valid"
                 required
                 [id]="question.id"
                 [name]="question.id"
                 [formControlName]="question.id"
                 type="text" placeholder="Wpisz odpowiedź">
          <ng-container *ngIf="formList.get(question.id)?.touched && formList.get(question.id)?.invalid">
            <p *ngIf="formList.get(question.id)?.hasError('required')" class="text-red-600 italic text-sm">
              To pole jest wymagane
            </p>
          </ng-container>
        </div>
      </div>
      <div class="-mx-3 md:flex mt-2 justify-center">
        <div class="md:w-1/2 px-3">
          <button class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500
          hover:border-gray-100 rounded-full" type="submit" [disabled]="formList.invalid">
            Wyślij
          </button>
        </div>
      </div>
    </div>
  </form>
  {{formList.value | json}}
</div>
