<div class="py-20">
  <form [formGroup]="form">
    <div class="flex flex-col">
      <div class="md:flex mb-6" *ngFor="let question of questionsList">
        <div class="md:w-full px-3">
          <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" [for]="question.id">
            {{question.question_str}}
          </label>
          <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                 [class.border-gray]=""
                 required
                 [id]="question.id"
                 [name]="question.id"
                 [formControlName]="question.id"
                 type="text" placeholder="Wpisz odpowiedź">
        </div>
      </div>
      <div class="-mx-3 md:flex mt-2 justify-center">
        <div class="md:w-1/2 px-3">
          <button class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500
          hover:border-gray-100 rounded-full" (click)="send()">
            Wyślij
          </button>
        </div>
      </div>
    </div>
  </form>
  {{form.value | json}}
</div>
