<app-header></app-header>
<div class="py-6 md:py-12">
  <div class="container px-4 mx-auto">

    <div class="mx-auto">
      <h1 class="text-3xl md:text-4xl font-medium mb-2">Szukam swojej ścieżki</h1>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <app-surprise-me-form *ngIf="!hasResults" [formList]="formQuestions" [questionsList]="questionsList" (sendRequestEmitter)="getData($event)"></app-surprise-me-form>
  <app-surprise-me-result *ngIf="hasResults" [positionsList="positionsList"></app-surprise-me-result>
</div>
<app-footer></app-footer>
